{% extends 'partials/base.html' %}
{% load static %}
{% load date_filters %}
{% load widget_tweaks %}
{% load tt_extras %}


<html>
<head>
{% block title %}Prenomina revisar{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% elif message.tags == "info" %}
                <script>
                Swal.fire({
                    "title":"Alerta",
                    "text":"{{message}}",
                    "icon":"warning",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<hr>
<div class="container card card-body">
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <h4 class="title is-size-2">Prenomina del empleado</h4>
            <div class="d-flex justify-content-end my-0">
                {% comment %} Agregar incidencias rango{% endcomment %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#incidenciasModal">
                    <i class="fas fa-plus"></i> Incidencias
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="incidenciasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fas fa-plus"></i> Agregar Incidencias</h1>
                        <button title="Cierra la ventana pero no borra los datos" type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" action="{% url 'registrar_rango_incidencias' costo.id %}" enctype="multipart/form-data" id="incidencias-form">
                            <div class="modal-body">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="">Incidencia</label>
                                    {% render_field incidencia_rango_form.incidencia class="form-select"%}
                                </div>
                                <div class="mb-3">
                                    <label for="">Fecha Inicio</label>
                                    {% render_field incidencia_rango_form.fecha_inicio class="form-control" type="date"%}
                                </div>
                                <div class="mb-3">
                                    <label for="">Fecha Fin</label>
                                    {% render_field incidencia_rango_form.fecha_fin class="form-control" type="date"%}
                                </div>
                                
                                <div class="mb-3" id="id-subsecuente">
                                    <label for="">Subsecuente</label>
                                    {% render_field incidencia_rango_form.subsecuente class="form-select"%}
                                </div>
                                <div class="mb-3" id="id-display-dia-inhabil">
                                    <label for="">Dia Inhabil</label>
                                    {% render_field incidencia_rango_form.dia_inhabil class="form-select"%}
                                </div>
                               <div class="mb-3">
                                    <label for="">Comentario</label>
                                    {% render_field incidencia_rango_form.comentario class="form-control"%}
                               </div>
                                <div class="mb-3">
                                    <label for="">Soporte</label>
                                    {% render_field incidencia_rango_form.soporte class="form-control" accept=".png, .jpg, .jpeg, .pdf, .xlsx, .xls,"%}
                                </div>
                                <input type="hidden" name="" id="costo-id" value="{{costo.id}}">
                            </div>
                            <div class="modal-footer d-flex justify-content-between">
                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button id="btn-programar" name="rango-incidencia" type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>


            </div>
            <span class="h4">{{cos.nombres}} {{empleado.apellidos}}</span>
        </div>
        <hr>
        <div class="card-body">
            <div class="row">
                <span class="h5">{{costo.status.perfil.nombres}} {{costo.status.perfil.apellidos}}</span>
                <span class="h6">Catorcena: {{catorcena_actual.fecha_inicial}} al {{catorcena_actual.fecha_final}}</span>
                <span class="h6">Control Tecnico: {{autorizacion1.perfil.nombres}} {{autorizacion1.perfil.apellidos}}</span>
                <span class="h6">Comentario: {{autorizacion1.comentario}}--Fecha:{{autorizacion1.updated_at}}--Estado:{{autorizacion1.estado.tipo}}</span>
                <span class="h6">Gerencia: {{autorizacion2.perfil.nombres}} {{autorizacion2.perfil.apellidos}}</span>
                <span class="h6">Comentario: {{autorizacion2.comentario}}--Fecha:{{autorizacion2.updated_at}}--Estado:{{autorizacion2.estado.tipo}}</span>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-hover bg-white" id="tabla_incidencias">
                    <thead class="text-black" style="background-color: #F5F5F5;">
                        <tr style="background-color:#2A628F;color:#ffffff;">
                            <th></th>
                            <th>Fecha</th>
                            <th>Seleccionar Incidencia</th>
                            {% comment %}
                            <th>Incidencia actual</th>
                            {% endcomment %}
                            <th>Comentario</th>
                            <th>Subir Soporte</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ prenomina_incidencias_form.management_form }}
                        {% for prenomina_form in prenomina_incidencias_form%} 
                        <tr>
                            <td>
                                {% comment %} dia de la semana {% endcomment %}
                            </td>
                            <td>
                                {% render_field prenomina_form.fecha style="border: none; background: none;" class="form-control" %}
                            </td>
                            <td>
                                {% render_field prenomina_form.incidencia class="form-select select2-bootstrap"%}
                            </td>
                            {% comment %}
                            <td>Lorem</td>
                            {% endcomment %}
                            <td>
                                {% render_field prenomina_form.comentario class="form-control"%}
                            </td>
                            <td>
                                {% if prenomina_form.soporte.value %}
                                    <small><a title="click para ver el soporte" title="soporte" class="btn btn-success btn-sm" href="{{ prenomina_form.soporte.value.url }}" download ><i class="fas fa-download"></i></a> Ver Soporte</small>
                                {% elif prenomina_form.incidencia.value == 15 %}
                                    <button type="submit" name="vacaciones_pdf"  title="formato solicitud - vacaciones" class="btn btn-outline-danger btn-sm" value="{{ prenomina_form.fecha.value }}">
                                        <i class="fa-solid fa-file-pdf fa-2xl"></i>
                                    </button>
                                {% elif prenomina_form.incidencia.value == 14 %}
                                     <button type="submit" name="economico_pdf" title="formato solicitud día - economico" class="btn btn-outline-danger btn-sm" value="{{ prenomina_form.fecha.value }}">
                                        <i class="fa-solid fa-file-pdf fa-2xl"></i>
                                    </button>
                                {% else %}
                                    <span class="text-muted">Sin soporte</span>
                                {% endif %}
                            </td>
                               
                            <td>
                              
                                <div class="form-check form-switch">
                                    {% render_field prenomina_form.DELETE class="form-check-input" role="switch"%}
                                </div>
                                    
                                    {{prenomina_form.id}}
                                    {{prenomina_form.id_rango}}
                               
                               
                            </td>
                        </tr>
                        {% endfor %}
                            
                       
                    </tbody>
                </table>
                <div class="col-12 d-flex justify-content-between">
                    <button id="enviar" type="submit" name="enviar_prenomina" class="btn btn-success">Enviar</button>
                    <button id="guardar" type="submit" name="guardar_cambios" class="btn btn-primary"> Guardar</button>
                </div>
               
                <br></br>
                </form>
                <hr>
                
                {% if usuario.tipo.admin == False %}
                <div class="d-none">
                {% else %}
                <div>
                {% endif %}
                <a href="{% url 'Prenomina' %}" class="btn btn-outline-info"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="{% static 'js/prenomina/dias_semana.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        /**función async await para verificar las incidencias por rango*/
        async function verificarIncidencias(id){
            var formData = new FormData(document.getElementById("incidencias-form"));
            var costo = parseInt(id)
    
            try {
                var response = await fetch(`/prenomina/registrar_rango_incidencias/${costo}/`,{
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                    body: formData
                });
    
                var data = await response.json();
                //console.log ("esta es la data: ",data)
                //console.log ("este es el response: ",response)
    
                if (response.ok) {
                    Swal.fire({
                        title: "Mensaje",
                        text: "Se ha agregado la incidencia correctamente",
                        icon: "success",
                        confirmButtonText: "Pulsa aquí para continuar"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    });
    
                    if (data.success) {
                        console.log(data.message); // Mensaje de éxito
                    } else {
                        console.error('Error de validación:', data.errors);
                        mostrarErrores(data.errors); // Mostrar errores de validación
                    }
                } else {
                   
                    switch (response.status) {
                        case 405:
                            Swal.fire({
                                title: "Error",
                                text: "No se pudo procesar la solicitud",
                                icon: "warning",
                            })
                            break;
                        case 422:
                            if (data.poscondicion){
                                Swal.fire({
                                    title: "Error",
                                    text: data.poscondicion,
                                    icon: "warning",
                                })
                            }else{
                                if(data.validaciones){
                                    //console.log(data.errores)
                                    Swal.fire({
                                        title: "Error",
                                        text: data.validaciones,
                                        icon: "warning",
                                    })
                                }
                                
                            }
                            break;
                        default:
                            console.log('Mensaje no reconocido');
                    }
                    //console.log(response)
                    //console.error('Error en la respuesta del servidor:', response.status);
                }
    
    
    
            } catch (error) {
                Swal.fire({
                    title: "Error",
                    text: "No se pudo procesar la solicitud",
                    icon: "warning",
                })
            }
        }    
    
         //Clic al botón de guardar la incidencia por rango
         var boton_programar = document.getElementById("btn-programar")
         boton_programar.addEventListener("click", function(e) {
             e.preventDefault();
             //se obtiene el valor del id del input hidden costo  
             var costo = document.getElementById('costo-id').value 
             console.log(costo)
             //se llama la función
             verificarIncidencias(costo)
         });
    
    
    
    
        //para deshabilitar las incidencias de cada formulario revisar
        for (i = 0; i < 14; i++){
            var select = document.getElementById("id_form-"+i+"-incidencia")
            //se enumeran y empieza con 1 en la lista del despegable
            select.options[2].disabled = true
            select.options[3].disabled = true
            select.options[7].disabled = true
            select.options[9].disabled = true
            select.options[11].disabled = true
            select.options[12].disabled = true
            select.options[13].disabled = true
            select.options[14].disabled = true
            select.options[15].disabled = true
            select.options[17].disabled = true
          
        }
    
        //desmarcar las incidencias para que posteriormente se guarden, eliminen correctamente
        var botonGuardar = document.getElementById('guardar')
        botonGuardar.addEventListener('click',function(){
            for (i = 0; i < 14; i++){
                var select = document.getElementById("id_form-"+i+"-incidencia")
                select.options[2].disabled = false
                select.options[3].disabled = false
                select.options[7].disabled = false
                select.options[9].disabled = false
                select.options[11].disabled = false
                select.options[12].disabled = false
                select.options[13].disabled = false
                select.options[14].disabled = false
                select.options[15].disabled = false
                select.options[17].disabled = false
            }
        })
        
        //Activar boton eliminar y guardar - checkbox
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    
        function verificarAlMenosUnoActivo() {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    return true; // Retorna true si encuentra al menos uno activo
                }
            }
            return false; // Retorna false si ninguno está activo
        }
    
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', function() {
                botonGuardar = document.getElementById('guardar')
                if (verificarAlMenosUnoActivo()) {
                    //activa eliminar
                    botonGuardar.classList.remove('btn-primary')
                    botonGuardar.classList.add('btn-danger')
                    botonGuardar.textContent = "Eliminar"
                    botonGuardar.setAttribute('name', 'eliminar_cambios');
                } else {
                    //activa guardar
                    botonGuardar.classList.remove('btn-danger')
                    botonGuardar.classList.add('btn-primary')
                    botonGuardar.textContent = "Guardar"
                    botonGuardar.setAttribute('name', 'guardar_cambios');
                }
            });
        }
    
    
    
        //formulario rango incidencia - ocultar subsecuente
        var formRangoSelect = document.getElementById('id_incidencia');
        var subsecuente = document.getElementById('id-subsecuente');
    
        var inciedencia = document.getElementById('id_incidencia')
        var dia_inhabil = document.getElementById('id_dia_inhabil')
        var display_dia_inhabil = document.getElementById('id-display-dia-inhabil')
    
    
        formRangoSelect.addEventListener('change', function() {
            var opcion = formRangoSelect.value;
    
            //solo se activa para cualquier caso de incapacidad
            if (opcion !== '10' && opcion !== '12' && opcion !== '11') { //cualquier incapacidad
                subsecuente.classList.add('d-none'); //ocultar
            } else {
                subsecuente.classList.remove('d-none'); //mostrar
            }
            
            //para ocultar el dia inhabil y dejar marcado como domingo por defecto
            /*
            if (opcion === '10' || opcion === '12' || opcion === '11') {
                console.log("ocultar el dia inhabil");
                dia_inhabil.value = '7'; // Ajustar el valor del select a '7' (Domingo)
                display_dia_inhabil.classList.add('d-none')
            }else{
                dia_inhabil.value = '';
                display_dia_inhabil.classList.remove('d-none')
            }
            */
    
    
    
        });
        
    });
</script>
{% endblock js %}

</body>
</html>