{% extends 'partials/base.html' %}
{% block title %} Cerrar sesión {% endblock %}


{% block content %}
<hr>
<hr>
<div class="container">
    <div class='row mt-5'>
        <div class='col-md-6 offset-md-3'>
            <div class= "card">
                <div class ="card-header">
                <h4>Se ha cerrado la sesión correctamente</h4>
                </div>
                <div class =" card-header">
                    <h6>¡Gracias por pasar tiempo de calidad en el sistema!.</h6>
                    <a href="{% url 'user-login' %}" class="btn btn-primary mt-3">Volver</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}